/**
    windowsToolBar
 */
#exitButton{
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-background-image: url("../pictures/windowtoolBar/close.png");
}
#exitButton:hover{-fx-background-image: url("../pictures/windowtoolBar/closeHover.png");}

#reduceButton{
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-background-image: url("../pictures/windowtoolBar/minimize.png");
}
#reduceButton:hover {-fx-background-image: url("../pictures/windowtoolBar/minimizeHover.png");}

#maximizeButton{
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-background-image: url("../pictures/windowtoolBar/maximize.png");
}
#maximizeButton:hover{-fx-background-image: url("../pictures/windowtoolBar/maximizeHover.png");}

/*****************************************************************************************************/

#progressBar > .track {
    -fx-background-color: none;
    -fx-text-box-border: none;
}
#progressBar {
    -fx-accent: #ff5400;
}
#seekSlider {
    -fx-cursor: hand;
    -fx-border-radius: 0;
}
#seekSlider > .track {
    -fx-background-color: none;
}
#seekSlider > .thumb{
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-background-color: white;
}
#seekSlider:hover > .thumb {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}
#seekSlider:pressed > .thumb {
    -fx-background-color: #ff5400;
}
#playBtn, #openPlayerBtn, #uploadLocalFilesButton { -fx-cursor: hand; }

#prevBtn{
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-background-image: url("../pictures/audioplayer/previousBtn.png");
}
#prevBtn:hover{-fx-background-image: url("../pictures/audioplayer/previousBtnHover.png"); }
#nextBtn{
    -fx-background-color: none;
    -fx-cursor: hand;
    -fx-background-image: url("../pictures/audioplayer/nextBtn.png");
}
#nextBtn:hover{-fx-background-image: url("../pictures/audioplayer/nextBtnHover.png"); }

#deleteItem, #deleteItemOnView { -fx-background-image: url("../pictures/folderview/deleteItem.png"); -fx-cursor: hand;}
#deleteItem:hover, #deleteItemOnView:hover { -fx-background-image: url("../pictures/folderview/deleteItemHover.png")}


#createPlaylistBtn, #addPluginBtn {
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-background-color: #ff5400;
    -fx-text-fill: #1c1327;
}
#createPlaylistBtn:hover, #addPluginBtn:hover{ -fx-text-fill: white; }


/** TREEVIEW AND CELL ***************************************************************************/

.list-cell{-fx-text-fill: white; }
.list-cell.label {-fx-cursor: hand;}
.list-cell:hover{-fx-text-fill: #ff5400}
.tree-cell, .list-cell{-fx-background-color: none; }
.tree-cell:selected, .list-cell:selected {-fx-font-weight: bold ; -fx-background-color: none; }
.tree-view, .list-view {-fx-background-color: none;  }

/** LABEL AND BTN ***************************************************************************/

#menu, #downloadBtn, #searchBtn, #src, #newPlaylistBtn, #choosePic{ -fx-background-color: none; -fx-cursor: hand}
#downloadBtn, #newPlaylistBtn, #newPlaylistBtn , #searchBtn, #choosePic {-fx-text-fill: #9a9a9a}
#downloadBtn:hover, #newPlaylistBtn:hover, #newPlaylistBtn:hover, #choosePic:hover {-fx-text-fill: white}
#searchBtn:hover { -fx-text-fill: #ff5400}
#src:showing  > .label{ -fx-text-fill: white}
#src:hover > .label { -fx-text-fill: white}

.context-menu {
    -fx-background-color: #282828;
    -fx-background-insets: 0, 1, 2;
    -fx-margin: 0.333333em 0em 0em 0em; /* 4 1 8 1 */
}

.menu-item .label {-fx-text-fill: #9a9a9a; -fx-background-color:#282828; }

.menu-item:focused {
    -fx-background-color: #282828;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.menu-item:focused .label {-fx-text-fill: white; -fx-background-color:#282828; }

#addPlaylistBtn {
    -fx-background-color: none;
    -fx-cursor: hand;
    -fx-background-image: url("../pictures/folderView/addPlaylist.png");
}
#addPlaylistBtn:hover {-fx-background-color: none; -fx-background-image: url("../pictures/folderView/addPlaylistHover.png");}
#menu { -fx-background-image: url("../pictures/folderView/menuBtn.png");}
#menu:hover, #menu:showing { -fx-background-image: url("../pictures/folderView/menuBtnHover.png");}

.arrow-button .arrow {
    -fx-background-color: transparent;
    -fx-opacity: 1;
    -fx-text-fill:#000000;
}
#searchInput:focused, #newPlaylistInput:focused{ -fx-border-color:  #121212;}
#dirName{-fx-text-fill: #9a9a9a; -fx-cursor: hand;}
#dirName:hover{ -fx-text-fill: white;}
#dirName:focused{ -fx-text-fill: #ff5400;}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: #282828;
}

/** TABLE VIEW ***************************************************************************/


.table-view{ -fx-background-color: transparent; }
.table-view:focused {-fx-background-color: transparent;}
.table-view .column-header-background{ -fx-background-color: none;}
.table-view .column-header-background .label{ -fx-background-color: transparent; -fx-text-fill: white; }
.table-view .column-header { -fx-background-color: transparent; }
.table-view .table-cell{
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-border-color: none;
    -fx-text-fill: white;
}

.table-view {
    -fx-table-cell-border-color: transparent;
}
.table-view .column-header .label { -fx-alignment:CENTER-LEFT}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color,  #2B2B2B;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em;
    -fx-padding: 0 0 0 0;

}
.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #2B2B2B;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em;
    -fx-padding: 0 0 0 0;
}
.table-row-cell:filled:hover{-fx-background-color: #282828;}
.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: #282828 ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {-fx-background: -fx-control-inner-background-alt ;
}


/** SCROLL BAR ***************************************************************************/

.scroll-bar:vertical .thumb:hover{ -fx-cursor: hand;}
.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {-fx-shape: " "; -fx-padding:0;}
.table-view .filler{-fx-background-color: #2B2B2B;}

.table-view .scroll-bar:vertical .track{
    -fx-background-color:#2B2B2B;
    -fx-border-color:#2B2B2B;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.tree-view .scroll-bar:vertical .track, .list-view .scroll-bar:vertical .track{
    -fx-background-color:#121212;
    -fx-border-color:#121212;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.scroll-bar:vertical .increment-button , .scroll-bar:vertical .decrement-button {
    -fx-background-color:#2B2B2B;
    -fx-background-radius: 0em;
    -fx-padding:0 8 0 0;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:  derive(black, 95%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 2em;
}
.tree-view .scroll-bar:vertical .thumb, .list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #282828;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 2em;
}

/** CHECK BOX ***************************************************************************/

#checkBox{
    -fx-display: block;
    -fx-position: relative;
    -fx-cursor: pointer;

    -fx-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -fx-user-select: none;
}
#checkBox .box{
    -fx-cursor: hand;
    -fx-padding: 5;
    -fx-background-color: #1c1327;
    -fx-border-color:#1c1327;
    -fx-border-radius:3px;
}
#checkBox:selected .mark { -fx-background-color: #ff5400;}
#checkBox:selected .box { -fx-background-color: #1c1327; }


/***************************************************************************/
.list-cell:filled:hover {
    -fx-cursor: hand;
}

.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;

}

#listViewPlug{

    -fx-background-color: #2B2B2B;
}