
/**
    windowsToolBar
 */
#maximize{
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-background-image: url("../pictures/windowtoolBar/maximize.png");
}
#maximize:hover{-fx-background-image: url("../pictures/windowtoolBar/maximizeHover.png");}

#close{
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-background-image: url("../pictures/windowtoolBar/close.png");
}
#close:hover{-fx-background-image: url("../pictures/windowtoolBar/closeHover.png");}

#minimize{
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-background-image: url("../pictures/windowtoolBar/minimize.png");
}
#minimize:hover {-fx-background-image: url("../pictures/windowtoolBar/minimizeHover.png");}

/*****************************************************************************************************/
/**
    mainPane
 */

#borderPane {

    -fx-background-image: url("../pictures/backgroundLogin.jpg");
    -fx-background-repeat: inherit;
}

#emailInput {
    -fx-background-color: #1d172b;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0.9 ;
    -fx-text-fill: #ff5400;
}
#emailInput:focused {
    -fx-background-color: -fx-focus-color, #1c1327;
    -fx-focus-color: #ff5400;
}

#pwdInput {
    -fx-background-color: #1d172b;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0.9 ;
    -fx-text-fill: #ff5400;
    
}

#pwdInput:focused {
    -fx-background-color: -fx-focus-color,  #1c1327;
    -fx-focus-color: #ff5400;
    -fx-text-fill: #ff5400;
}

#loginBtn {

    -fx-background-color: none;
    -fx-border-color: none;
    -fx-background-color: #ff5400;
    -fx-text-fill: #1c1327;
}

#loginBtn:hover {

    -fx-text-fill: white;
}

#checkBox{

    -fx-display: block;
    -fx-position: relative;
    -fx-cursor: pointer;

    -fx-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -fx-user-select: none;
}


#checkBox .box{
    -fx-cursor: hand;
    -fx-padding: 5;
    -fx-background-color: #1c1327;
    -fx-border-color:#1c1327;
    -fx-border-radius:3px;

}
#checkBox:selected .mark {

    -fx-background-color: #ff5400;

}

#checkBox:selected .box {

    -fx-background-color: #1c1327;
}

#subscribe{
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#subscribe:hover{

    -fx-text-fill: #ff5400;
}

#changePwd{
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#changePwd:hover{

    -fx-text-fill: #ff5400;
}


/*
orange selected : FF7E3D
background :  #242324
 */