/**
    windowsToolBar
 */
#exitBtn{
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-background-image: url("../pictures/windowtoolBar/close.png");
}
#exitBtn:hover{-fx-background-image: url("../pictures/windowtoolBar/closeHover.png");}

#reduceBtn{
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-background-image: url("../pictures/windowtoolBar/minimize.png");
}
#reduceBtn:hover {-fx-background-image: url("../pictures/windowtoolBar/minimizeHover.png");}

/*****************************************************************************************************/

#progressBar > .track, #volumeProgressBar > .track {
    -fx-background-color: none;
    -fx-text-box-border: none;
}
#progressBar, #volumeProgressBar {
    -fx-accent: #ff5400;
}

#seekSlider, #volumeSlider {
    -fx-cursor: hand;
    -fx-border-radius: 0;
}
#seekSlider > .track , #volumeSlider > .track {
    -fx-background-color: none;
}
#seekSlider > .thumb{
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-background-color: white;
}
#volumeSlider > .thumb{
    -fx-background-color: white;
}
#seekSlider:hover > .thumb {
     -fx-scale-x: 0.9;
     -fx-scale-y: 0.9;
 }

#seekSlider:pressed > .thumb, #volumeSlider:pressed > .thumb {
    -fx-background-color: #ff5400;
}



#playBtn, #loopBtn, #repeatBtn, #randBtn, #logoutBtn, #openFolderBtn { -fx-cursor: hand; }

#prevBtn{
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-background-image: url("../pictures/audioplayer/previousBtn.png");

}
#prevBtn:hover{

    -fx-background-image: url("../pictures/audioplayer/previousBtnHover.png");
}
#nextBtn{
    -fx-background-color: none;
    -fx-cursor: hand;
    -fx-background-image: url("../pictures/audioplayer/nextBtn.png");
}
#nextBtn:hover{
    -fx-background-image: url("../pictures/audioplayer/nextBtnHover.png");
}

#volumeBtn{
    -fx-cursor: hand;
}



